nav {
  background-color: white;
  height: 10px;
  width: 100vw; }

.navbar {
  padding: 0px; }

.container-fluid {
  background-color: white;
  width: 100vw;
  margin-top: 30px; }

.menuColor {
  font-family: Balham; }

#navbarNavDropdown {
  justify-content: flex-end; }

.fondo {
  background-image: url("../multimedia/pexels-bongkarn-thanyakij-3787324.jpg");
  width: 100vw;
  padding: 200px 0;
  background-size: 100%;
  background-repeat: no-repeat; }

.tituloHome {
  color: #be7a5e;
  font-family: BrownSunflowerSerif;
  text-align: center;
  margin-bottom: 25px;
  font-size: 22px;
  margin-top: 10px; }

.tituloHomeDos {
  color: #4C4C4C;
  font-family: BrownSunflowerSerif;
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px; }

.productos-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.productos {
  width: 200px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px 10px;
  margin: 50px; }

.textoServicios {
  font-size: 11px;
  font-family: Balham;
  padding: 2px;
  text-align: center; }

.botonMas {
  color: #be7a5e;
  text-decoration: solid;
  font-size: 10px;
  letter-spacing: 1px; }

.botonMas:hover {
  color: #4C4C4C; }

.contacto {
  display: flex;
  flex-direction: column; }

.botonFormulario {
  background-color: #be7a5e;
  color: white;
  text-decoration: solid;
  font-size: 10px;
  letter-spacing: 1px;
  width: 68px;
  height: 25px;
  align-self: center;
  padding: 5px; }

.botonFormulario:hover {
  background-color: #BF7F6D;
  color: white; }

.tituloTrabajos {
  padding: 70px 0px 10px 0px; }

.contenedorPadre {
  width: 500px;
  height: 510px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  flex-direction: row; }

.imagenTrabajos {
  flex: none;
  width: 250px;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center; }

.tituloServicios {
  padding: 70px 0px 20px 0px; }

.contenedor {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: 30px; }

.textoServicios1 {
  font-size: 11px;
  font-family: Balham;
  width: 250px;
  text-align: center;
  margin-right: 10px; }

#grid {
  display: grid;
  grid-template-areas: "nav nav" "texto imagen" "footer footer";
  grid-template-rows: 100px 500px 130px;
  grid-template-columns: 600px 500px; }

.navbar {
  grid-area: nav; }

#texto {
  grid-area: texto;
  margin-top: 50px; }

#imagen {
  grid-area: imagen;
  margin-top: 50px;
  align-items: center; }

footer {
  grid-area: footer; }

.parrafo {
  font-size: 14px;
  font-family: Balham;
  margin-left: 50px;
  width: 400px; }

.nosotrosTitulo {
  text-align: left;
  margin-left: 50px; }

@font-face {
  font-family: Santana;
  src: url(/fuentes/Santana.ttf);
  font-family: Balham;
  src: url(/fuentes/Balham.otf); }

form {
  font-family: Balham; }

.container {
  width: 400px;
  height: 530px;
  background-color: #F0E5DC;
  border-radius: 10px; }

.mb-3 {
  padding-top: 10px;
  width: 180px;
  margin-left: 30px;
  font-size: 14px; }

.suscripcion {
  width: 350px;
  font-size: 12px; }

.colorBoton {
  background-color: #D38F75;
  border-color: #D38F75;
  padding-left: 130px;
  padding-right: 130px;
  margin: 0px 0px 0px 30px; }

.colorBoton:hover {
  background-color: #BF7F6D;
  border-color: #BF7F6D; }

.tituloContacto {
  margin-top: 70px; }

.form-control {
  padding-left: 150px;
  padding-right: 150px;
  border-style: hidden; }

#consulta {
  padding: 8px 100px 8px 83px;
  border-radius: 20px;
  border-style: hidden; }

.campoConsulta {
  border-style: hidden;
  border-radius: 5px; }

@font-face {
  font-family: Santana;
  src: url(/fuentes/Santana.ttf);
  font-family: Balham;
  src: url(/fuentes/Balham.otf); }

footer {
  text-align: center;
  font-weight: normal;
  background-color: #E0CAB8;
  width: 100vw;
  padding: 15px 0px;
  margin-top: 30px; }

.textoFooter {
  font-family: Santana;
  font-size: 10px;
  margin-bottom: 5px; }

.logoRedes {
  margin-bottom: 10px; }

* {
  padding: 0;
  margin: 0; }

@media only screen and (max-width: 767px) {
  /* Home */
  .tituloHome {
    font-size: 18px; }
  .tituloHomeDos {
    font-size: 16px; }
  .productos-container {
    display: flex;
    flex-direction: column; }
  .productos {
    padding: 100px 30px;
    width: 100vw;
    justify-content: center;
    align-items: center; }
  .fondo {
    margin-top: 80px;
    padding: 80px; }
  .container-fluid {
    margin-top: 0px; }
  /* servicios */
  .contenedor {
    flex-wrap: wrap;
    margin-top: 10px; }
  .textoServicios1 {
    margin-bottom: 15px; }
  .tituloServicios {
    margin-bottom: 2px;
    padding-bottom: 2px;
    font-size: 18px; }
  /* nosotros */
  #grid {
    display: grid;
    grid-template-areas: "nav" "texto"  "imagen" "footer";
    grid-template-rows: 50px 220px 330px 130px;
    grid-template-columns: 300px; }
  .parrafo {
    margin-left: 25px;
    width: 300px;
    text-align: center;
    margin-bottom: 10px; }
  .imagenNosotros {
    margin-left: 55px;
    margin-top: 10px; }
  .nosotrosTitulo {
    margin-left: 80px; }
  /* Trabajos */
  .tituloTrabajos {
    font-size: 18px; }
  .contenedorPadre {
    width: 300px;
    height: 400px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row; }
  .imagenTrabajos {
    flex: none;
    width: 125px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center; }
  .items {
    width: 125px;
    height: 82px; }
  /* Contacto */
  .container {
    width: 350px; }
  .mb-3 {
    margin-left: 15px; }
  .colorBoton {
    margin-left: 10px; } }

body {
  background-color: white; }

@font-face {
  font-family: Santana;
  src: url(/fuentes/Santana.ttf);
  font-family: Balham;
  src: url(/fuentes/Balham.otf);
  font-family: BrownSunflowerSerif;
  src: url(/fuentes/BrownSunflowerSerif-PKOJd.ttf); }

h2 {
  color: black;
  font-family: Santana; }

h3 {
  color: #4C4C4C;
  font-family: BrownSunflowerSerif;
  text-align: center;
  margin-bottom: 10px;
  font-size: 22px; }

h4 {
  color: #4C4C4C;
  font-family: BrownSunflowerSerif;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  margin-bottom: 15px; }

h5 {
  font-family: Balham;
  font-size: 14px;
  color: black;
  text-align: center;
  margin-top: 20px; }
