.container{
    width: 400px;
    height:530px;
    background-color:#F0E5DC;
    border-radius: 10px;
    
    
}

.mb-3 {
    padding-top: 10px;
    width:180px;
    margin-left: 30px;
    font-size: 14px;
}
.suscripcion{
    width: 350px;
    font-size: 12px;
}
button {
    margin-left: 40px;
}

.colorBoton {
    background-color: #D38F75;
    border-color: #D38F75;
}

.colorBotonDos {
    background-color:#D38F75;
    border-color: #D38F75;
}

.colorBoton:hover {
    background-color: #BF7F6D;
    border-color: #BF7F6D;
}
.colorBotonDos:hover {
    background-color: #BF7F6D;
    border-color: #BF7F6D;
}

.tituloContacto {
    margin-top: 70px;
}