@font-face {
    font-family:Santana; src: url(/fuentes/Santana.ttf);
    font-family: Balham; src:url(/fuentes/Balham.otf);}

form {
    font-family: Balham;
    
}


.container{
    width: 400px;
    height:530px;
    background-color:#F0E5DC;
    border-radius: 10px;
    
    
}

.mb-3 {
    padding-top: 10px;
    width:180px;
    margin-left: 30px;
    font-size: 14px;
}
.suscripcion{
    width: 350px;
    font-size: 12px;
}


.colorBoton {
    background-color: #D38F75;
    border-color: #D38F75;
    padding-left: 130px;
    padding-right: 130px;
    margin: 0px 0px 0px 30px;
}

.colorBoton:hover {
    background-color: #BF7F6D;
    border-color: #BF7F6D;
}


.tituloContacto {
    margin-top: 70px;
}

.form-control {
    padding-left: 150px;
    padding-right: 150px;
    border-style: hidden;
}

#consulta {
    padding: 8px 100px 8px 83px;
    border-radius: 20px;
    border-style: hidden;
}

.campoConsulta {
    border-style: hidden;
    border-radius: 5px;
}