#grid {
    display: grid;
    grid-template-areas: 
    "nav nav"
    "texto imagen"
    "footer footer";
    

    grid-template-rows: 100px 500px 130px;
    grid-template-columns: 600px 500px;
}

.navbar {
    grid-area: nav;

}

#texto {
    grid-area: texto;
    margin-top: 50px;
   
}

#imagen {
    grid-area: imagen;
    margin-top: 50px;
    align-items: center;
    
}


footer {
    grid-area: footer;
}

.parrafo {
    font-size: 14px;
    font-family: Balham;
    margin-left: 50px;
    width: 400px;
}

.nosotrosTitulo {
    text-align: left;
    margin-left: 50px;
}

