.tituloServicios {
    padding: 70px 0px 20px 0px;
}

.contenedor {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin: 30px;
}



.textoServicios1 {
    font-size: 11px;
    font-family: Balham;
    width: 250px;
    text-align: center;
    margin-right: 10px;
}
