.tituloTrabajos {
    padding: 70px 0px 10px 0px;

}

.contenedorPadre {
    width: 500px;
    height: 510px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    flex-direction: row;
}

.imagenTrabajos {
    flex: none;
    width: 250px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
}





